body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
h1 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  padding-bottom: 10px;
}
h2 {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}
p {
  font-weight: 400;
}

.main {
  width: 50%;
  margin: auto;
}
.top-box {
  background-color: white;
  display: block;
  padding: 40px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.top-box-p {
  color: hsl(218, 22%, 67%);
}

.bottom-box {
  width: 100%;
}
.left-box {
  color: white;
  background-color: hsl(179, 62%, 43%);
  padding: 40px;
}
.cost {
  display: flex;
  align-items: center;
}
.cost-dollar {
  font-size: 32px;
  font-weight: 700;
  margin-right: 10px;
}
.text-opaque {
  opacity: 0.6;
}
.button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px #666666;
  -moz-box-shadow: 1px 1px 4px #666666;
  box-shadow: 1px 1px 4px #666666;
  color: #ffffff;
  background: hsl(71, 73%, 54%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  width: 100%;
  margin-top: 24px;
  font-weight: 700;
}
.right-box {
  color: white;
  background-color: hsl(179, 62%, 43%);
  padding: 40px;
  opacity: 0.8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.why-us {
  padding-bottom: 14px;
}

@media only screen and (min-width: 900px) {
  .left-box {
    display: table-cell;
    border-bottom-left-radius: 6px;
    width: 50%;
  }
  .right-box {
    display: table-cell;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
    width: 50%;
  }
  .bottom-box {
    display: table;
  }
  .button {
    cursor: pointer;
  }
}
